<main>
  <aside>
    <header><h1>Ads</h1></header>
    <button (click)="start()">Start :)</button>
    <button (click)="stop()">Stop Ads!</button>
    <p *ngIf="adList.length === 0">No ad events {{adList.length}}.</p>
    <ul class="ad-list">
      <li class="ad-item" *ngFor="let adEvent of adList">
        <span>{{adEvent.time | date: 'hh:mm:ss'}}</span>
        <img *ngIf="adEvent.type==='IMAGE'" src="../assets/ic_image_black_24px.svg" alt="IMAGE">
        <img *ngIf="adEvent.type==='VIDEO'" src="../assets/ic_movie_creation_black_24px.svg" alt="VIDEO">
       <span [class.selected]="adEvent.show">{{adEvent.creative.name}}</span>
      </li>
  </ul>
  </aside>
  <article class="map">
    <div class="marker" *ngFor="let marker of markerAdList" [style.top]="marker.coordinates.y-70+'px'" [style.left]="marker.coordinates.x-40+'px'" >
      <video width="100%" height="100%" *ngIf="marker.type==='VIDEO'" controls>
        <source [src]="marker.creative.url" type="video/mp4">
        <p>Your browser doesn't support HTML5 video. Here is a <a href="marker.creative.url">link to the video</a> instead.</p>
      </video>
      <img *ngIf="marker.type==='IMAGE'" [src]="marker.creative.url" alt="marker.creative.name">
      </div>
    <img src="../assets/got-map.png" alt="got map" [style.width]="mapWidth+'px'" [style.height]="mapHeight+'px'" >
  </article>
</main>

<footer></footer>